@CHARSET "ISO-8859-1";
.dropdown-menu {
  width: 100%;
  }
.dropdown-menu li a {
	padding: 8px 10px;
	font-weight: 300;
}
.footer {
    text-align: left;
}
h6 {
    display: inline-block;
}
.footer a {
    float: right;
    margin-right: 30px;
}
ul {
	list-style-type: none;
}
q1 .ul{
	list-style-type: none;	
}